# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Debug / runtime
*.pdb

# IDE settings
.vscode/

# Node (se tiveres TS/JS)
node_modules/
dist/
build/

# Environment files
.env

# OS
.DS_Store
Thumbs.db